<h4>User Details
  <form [formGroup]="userHeaderDetailsForm" >
    <div   id="ddlvalue" style="text-align: right;">
      <!-- <select  (change)="changeUser($event)" formControlName="userSelect" class="custom-select"  > 
    <option value="1">Admin</option>
    <option value="2">User</option>
</select> -->
      <p-dropdown   formControlName="userSelect" 
       [options]="users" (onChange)="changeUser($event)"
       appendTo="body"
        [style]="{width: '20%'}">
      </p-dropdown>


    </div>
  </form>
</h4>