
<div class="jumbotron">
    <div class="container">
  <h3>Home </h3> 
    <div class="row">
    <table  class="table table-striped" >
      <thead>
          <tr>
           
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let details of userDetailsList; let i = index" >
          <td>{{ details.name }}</td>
          <td>{{ details.age }}</td>
          <td>{{ details.city }}</td>
         <td>
          <button class="btn btn-primary"  (click)="editUser(details)" type="button"> Edit </button>
          &nbsp;
          <button class="btn btn-danger"   (click)="deleteUser(details)" type="button"> Delete</button>
         </td>
         
        </tr>
      </tbody>
    </table>
    </div>
  <button class="btn btn-primary" (click)=addUser() type="button"> Add</button>
   <!-- <div *ngIf = "isNavigating" >  
    <app-edituser [name]="uname"></app-edituser>
  </div>  -->
</div> 
  